body {
      background-color:rgba(78, 78, 88);
}

* {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 50%;
      padding:10px;
    }

    .mini_column {
      float: left;
      width: 20%;
      padding:10px;
    }

    .mini_column_vert {
      float: left;
      width: 16%;
      padding:10px;
    }

    .midi_column {
      float: left;
      width: 33%;
      padding:10px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }

/* bootstrap */

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: white;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
    color:white;
}
